* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Poppins';
    text-align: center;
    background-color: aliceblue;
    padding: 3rem 0;
}

.content {
    padding: 3.5rem 2.5rem;
    background-image: linear-gradient(to bottom, black, indigo, black);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.content>h2{
    font-family: 'Poppins';
    font-size: 2.3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
}

.items{
    overflow: hidden;
}

.child_item_box{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1.5%;
    margin-bottom: 1.5rem;
}

.child_item{
    width: 30%;
    padding: 0.5rem;
    background-color: black;
}

.child_item>.image{
    transition: 0.2s;
}

.child_item>.image:hover{
    scale: 1.05;
    box-shadow: 2px 2px 5px magenta;

}

.child_item>h3{
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    word-spacing: 5px;
}


@media (min-width: 0px) and (max-width: 767.32px) {

    .child_item_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .child_item{
        width: 90%;
    }
}